<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    cacheTokens="false"
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    mapTestClassNameToCoveredClassName="false"
    processIsolation="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    strict="true"
    verbose="false">
    <testsuites>
        <testsuite name="BonzaiCLI">
            <file>tests/Abstract/AbstractTest.php</file>
            <file>tests/Controller/ControllerTest.php</file>
            <file>tests/Encoder/EncoderTest.php</file>
            <file>tests/Task/ExecuteTest.php</file>
            <file>tests/Utils/HelpTest.php</file>
            <file>tests/Utils/OptionsTest.php</file>
            <file>tests/Utils/UtilsTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>tests</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-html" target="report/cli/code_coverage" charset="UTF-8" yui="true" highlight="false" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>
